[user]
	name = William Staggs
	email = William@staggs.io
	signingkey = F65EB50EA10636B2
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[github]
	user = stagasaurusrex
[push]
	default = current
[core]
	excludesfile = /Users/staggs/.gitignore
[hooks "confirm"]
	match = FIXME
	match = TODO
[hooks]
	confirm = todo
	confirm = fixme
[fetch]
	prune = true
