[user]
	name = William Staggs
	useConfigOnly = true
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDeKlkX5/oA5pH88MDZEWSH4tyEUYytnr+F03BLGX49Q
	email = william@staggs.io
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[github]
	user = stagasaurusrex
[push]
	default = current
	followTags = true
	autoSetupRemote = true
[core]
	excludesfile = /Users/staggs/.gitignore
[hooks "confirm"]
	match = FIXME
	match = TODO
[hooks]
	confirm = todo
	confirm = fixme
[fetch]
	prune = true
[pull]
	ff = only
[init]
	defaultBranch = main
[merge]
	ff = no
[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
